@font-face {
    font-family: 'RickAndMorty';
    src: url(./fonts/get_schwifty.ttf);
}
*{
    margin: 0;
    box-sizing: border-box;
}
html {
    background-image: url('../src/images/background.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
